body
{
	background-color: #000000;
}

.head
{
	color: green;
	font-size: 40px;
	text-align:  center;
	border: 4px solid #000;
	background-color: #98FB98;
}

.para
{
	font-size: 22px;
	margin-left: 20px;
}